FinalProject/Client/Connected Services/CheckingServiceRef/CheckingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Checking" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Checking" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Debit">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Transaction">
        <xs:sequence>
          <xs:element minOccurs="0" name="CheckNo" type="xs:int" />
          <xs:element minOccurs="0" name="DebitType" type="tns:DebitTypeEnum" />
          <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Debit" nillable="true" type="tns:Debit" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="Credit">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Transaction">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreditType" type="tns:CreditTypeEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Credit" nillable="true" type="tns:Credit" />
  <xs:simpleType name="CreditTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Check" />
      <xs:enumeration value="Cash" />
      <xs:enumeration value="MoneyOrder" />
      <xs:enumeration value="Wire" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CreditTypeEnum" nillable="true" type="tns:CreditTypeEnum" />
  <xs:simpleType name="DebitTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Check" />
      <xs:enumeration value="Cash" />
      <xs:enumeration value="ATM" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DebitTypeEnum" nillable="true" type="tns:DebitTypeEnum" />
  <xs:complexType name="TransactionList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionList" nillable="true" type="tns:TransactionList" />
</xs:schema>